* {
    padding: 0;
    margin: 0;
}

body {
    font-family: cursive;
    color: white;
    font-size: 25px;

    height: 100vh;
    display: grid;

    grid-template-areas: 
    'header header header none'
    'div1 div2 div3 sidebar'
    'main main sidebar'
    'footer footer footer footer'
    ;
}

header,
aside,
footer,
.div1,
.div2,
.div3
main {
    background-color: orangered;
}

header {
    grid-area: header;
}

aside {
     grid-area: aside;
}

footer {
    grid-area: footer;
}

.div1 {
    grid-area: div1;
}

.div2 {
    grid-area: div2;
}

.div3 {
    grid-area: div3;
}